<div class="contact-details">
    <div class="contact-item">
        <!-- <span class="contact-item-icon" aria-hidden="true">&#10207;</span> -->
        <span class="contact-item-icon location-icon" aria-hidden="true"></span>
        <div class="contact-item-text">
            <strong>{{ i18n "contact_item_title_01" | safeHTML }}</strong>
            <span>{{ i18n "contact_item_details_01" | safeHTML }}</span>
        </div>
    </div>
    <div class="contact-item">
        <!-- <span class="contact-item-icon" aria-hidden="true">&#10207;</span> -->
        <span class="contact-item-icon location-icon" aria-hidden="true"></span>
        <div class="contact-item-text">
            <strong>{{ i18n "contact_item_title_02" | safeHTML }}</strong>
            <span>{{ i18n "contact_item_details_02" | safeHTML }}</span>
        </div>
    </div>
    <div class="contact-item">
        <!-- <span class="contact-item-icon" aria-hidden="true">&#128382;</span> -->
        <span class="contact-item-icon phone-icon" aria-hidden="true"></span>
        <div class="contact-item-text">
            <strong>{{ i18n "contact_item_title_03" | safeHTML }}</strong>
            <span>{{ i18n "contact_item_details_03" | safeHTML }}</span>
        </div>
    </div>
    <div class="contact-item">
        <!-- <span class="contact-item-icon" aria-hidden="true">&#128386;</span> -->
         <span class="contact-item-icon mail-icon" aria-hidden="true"></span>
        <div class="contact-item-text">
            <strong>{{ i18n "contact_item_title_04" | safeHTML }}</strong>
            <span>{{ i18n "contact_item_details_04" | safeHTML }}</span>
        </div>
    </div>
</div>